@mixin ul-styles() {
    list-style-type:none;
}

.dropdown-toggle {
    cursor:pointer;

    &.generated:before {
        content:'\21d3';
        font-size:.8em;
    }
}

$hidden-offset:9999px;
$sub-menu-in:'.sub-menu-in';
$sub-menu-out:'.sub-menu-out';

.menumenu {
    @include ul-styles();

    ul {
        @include ul-styles();

        display:block !important;
        left:0;
        position:absolute;
        top:100%;
        z-index:9999;
        width:240px;

        ul {
            top:0;
        }
    }

    > li {
        position:relative;

        > ul {
            left:-$hidden-offset;

            &#{$sub-menu-in},
            &#{$sub-menu-out} {
                left:0;
            }
        }
    }

    #{$sub-menu-in},
    #{$sub-menu-out} {
        left:$hidden-offset;

        ul {
            left:-$hidden-offset;
        }
    }

    #{$sub-menu-in} {
        animation:SubMenuIn .5s cubic-bezier(0.77, 0, 0.175, 1);
    }

    #{$sub-menu-out} {
        animation:SubMenuOut .4s cubic-bezier(0.77, 0, 0.175, 1);
    }
}

$y-offset:10px;

@keyframes SubMenuIn {
    0% {
        opacity:0;
        transform:translate(0, $y-offset);
    }

    100% {
        opacity:1;
        transform:translate(0, 0);
    }
}

@keyframes SubMenuOut {
    0% {
        opacity:1;
        transform:translate(0, 0);
    }

    100% {
        opacity:0;
        transform:translate(0, $y-offset);
    }
}
