@mixin ul-styles() {
    list-style-type:none;
}

$hidden-offset:9999px;
$menu-in:'.menu-in';
$menu-out:'.menu-out';
$sub-menu-in:'.sub-menu-in';
$sub-menu-out:'.sub-menu-out';

.menumenu {
    @include ul-styles();

    ul {
        @include ul-styles();

        display:block !important;
        position:absolute;
        top:0;
        left:0;
        z-index:9999;
        width:240px;
    }

    > li {
        position:relative;

        > ul {
            top:-$hidden-offset;
            left:-$hidden-offset;

            &#{$sub-menu-in},
            &#{$sub-menu-out} {
                top:0;
                left:0;
            }
        }
    }

    .generated-toggle {
        cursor:pointer;

        &:before {
            content:'\21d3';
            font-size:.8em;
        }
    }

    #{$sub-menu-in},
    #{$sub-menu-out} {
        top:$hidden-offset;
        left:$hidden-offset;

        ul {
            top:-$hidden-offset;
            left:-$hidden-offset;
        }
    }

    #{$sub-menu-in} {
        animation:SubMenuIn .4s;
    }

    #{$sub-menu-out} {
        animation:SubMenuOut .4s;
    }
}

#{$menu-in} {
    animation:MenuIn 0s;
}

#{$menu-out} {
    animation:MenuOut 0s;
}

@keyframes MenuIn {
    0% {
        opacity:1;
    }

    100% {
        opacity:1;
    }
}

@keyframes MenuOut {
    0% {
        opacity:1;
    }

    100% {
        opacity:1;
    }
}

$y-offset:10px;

@keyframes SubMenuIn {
    0% {
        opacity:0;
        transform:translate(0, $y-offset);
    }

    100% {
        opacity:1;
        transform:translate(0, 0);
    }
}

@keyframes SubMenuOut {
    0% {
        opacity:1;
        transform:translate(0, 0);
    }

    100% {
        opacity:0;
        transform:translate(0, $y-offset);
    }
}
